:root {
  scroll-behavior: smooth;

  --main-color: #da291c;
  --main-color-hover: #b52217;
  --second-color: #fbe122;
  --second-color-hover: #d5c01d;
  --putih: #f4f4f4;
  --hitam: #1e1e1e;

  --bg-color: #fffcfc;
  --bg-color-1: #ffe5e5;

  --main-font-family: "Open Sans", sans-serif;
  --second-font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--font-family);
  background: var(--bg-color);
  color: var(--hitam);
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

/*--------------------------------------------------------------
# LOGIN & REGISTERATION
--------------------------------------------------------------*/
#login .login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

#login .login-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#login .login-form {
  position: relative;
  margin-inline: 24px;
  border: 2px solid var(--putih);
  padding: 40px 16px;
  color: var(--putih);
  border-radius: 16px;
  backdrop-filter: blur(16px);
}

#login .login-title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

#login .login-inputs,
.login-box {
  display: grid;
}

#login .login-inputs {
  row-gap: 20px;
  margin-bottom: 16px;
}

#login .login-box {
  grid-template-columns: 1fr max-content;
  column-gap: 12px;
  align-items: center;
  border: 2px solid var(--putih);
  padding-inline: 10px;
  border-radius: 10px;
}

#login .login-input,
.login-button {
  border: none;
  outline: none;
}

#login .login-input {
  width: 100%;
  background: none;
  color: var(--putih);
  padding-block: 16px;
}

#login .login-input::placeholder {
  color: var(--putih);
}

#login .login-check,
.login-check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login .login-check {
  margin-bottom: 16px;
  font-size: 16px;
}

#login .login-check-box {
  column-gap: 8px;
}

#login .login-check-input {
  width: 16px;
  height: 16px;
}

#login .login-forgot {
  color: var(--putih);
  font-weight: 800;
}

#login .login-forgot:hover {
  text-decoration: underline;
}

#login .password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

#login .password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: var(--putih);
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

#login .login-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  background-color: #4154f1;
  border-radius: 10px;
  font-size: 20px;
  color: var(--putih);
  font-weight: 800;
  cursor: pointer;
}

#login .login-button:hover {
  background-color: #3645ca;
  color: var(--putih);
}

#login .login-register {
  font-size: 14px;
  text-align: center;
}

#login .login-register a {
  color: var(--putih);
  font-weight: 800;
}

#login .login-register a:hover {
  text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }

  .login-form {
    width: 420px;
    padding-inline: 2.5rem;
  }

  .login-title {
    margin-bottom: 2rem;
  }
}
